body {
  width: 900px; /* Establecemos un ancho fijo */
  margin: 10px auto; /* Centramos el contenido en el centro */
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #5f8f11;
  text-align: center;
}

h2 {
  color: #70af0a;
}

h3 {
  color: #ca823b;
}

#nombre {
  color: #bf823b;
}

.fondoBlanco {
  background-color: white;
  padding: 5px;
}

.recuadro {
  margin: 20px;
  margin-bottom: 0px;
  border: 2px solid lightgray;
  padding: 15px;
}

ul {
  padding-top: 20px;
}

.contenido {
  display: flex;
  flex-direction: row;
}
