<h1>Términos y Condiciones de Uso</h1>
<div id="terminos">
  <img src="assets/img/mussolini.jpg" alt="Una gran persona" />
  <div id="parrafos">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolorem
      reprehenderit distinctio consectetur labore maiores. Ratione ea odit sit
      perferendis corrupti. Iusto in corporis, earum perspiciatis recusandae
      illo ut deleniti.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolorem
      reprehenderit distinctio consectetur labore maiores. Ratione ea odit sit
      perferendis corrupti. Iusto in corporis, earum perspiciatis recusandae
      illo ut deleniti.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolorem
      reprehenderit distinctio consectetur labore maiores. Ratione ea odit sit
      perferendis corrupti. Iusto in corporis, earum perspiciatis recusandae
      illo ut deleniti.
    </p>
  </div>
  <img src="assets/img/mao-zedong.jpg" alt="Una persona con gran corazón" />
</div>
