h1 {
  text-align: center;
}

#terminos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: space-between;
}

img {
  width: 500px;
  border-radius: 20px;
}

#parrafos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#parrafos > p {
  width: 60%;
}
