<footer>
  <p>&copy; 2024 Tarracommerce. Todos los derechos reservados.</p>
  <div class="footer-icons">
    <span class="footer-icon">
      <img src="IMG/instagram.svg" alt="Instagram" />
      <content class="social-links">
        <a href="https://instagram.com/developer1" target="_blank"
          >Alejandro RJ</a
        >
        <a href="https://instagram.com/developer2" target="_blank">Jessica N</a>
        <a href="https://instagram.com/developer3" target="_blank">Santos C</a>
      </content>
    </span>
    <span class="footer-icon">
      <img src="IMG/linkedin.svg" alt="LinkedIn" />
      <content class="social-links">
        <a href="https://linkedin.com/in/developer1" target="_blank"
          >Alejandro RJ</a
        >
        <a href="https://linkedin.com/in/developer2" target="_blank"
          >Jessica N</a
        >
        <a href="https://linkedin.com/in/developer3" target="_blank"
          >Santos C</a
        >
      </content>
    </span>
    <span class="footer-icon">
      <img src="IMG/github.svg" alt="GitHub" />
      <content class="social-links">
        <a href="https://github.com/developer1" target="_blank">Alejandro RJ</a>
        <a href="https://github.com/developer2" target="_blank">Jessica N</a>
        <a href="https://github.com/developer3" target="_blank">Santos C</a>
      </content>
    </span>
  </div>
</footer>
