<div id="header">
  <div id="superior">
    <div id="imgTitul">
      <img src="IMG/tienda.png" alt="Logo comercial de la página web" />
      <a routerLink="inicio">
        <h1>Tienda Ecommerce</h1>
      </a>
    </div>
    <div class="menu-item">
      <a class="bordes" href="#">Idioma</a>
      <div class="desplegable desPro">
        <p>Español</p>
        <p>Catalán</p>
        <p>Inglés</p>
      </div>
    </div>
    <div>
      <a routerLink="productos">Gestionar cuenta</a>
      <a href="#">Iniciar sesión</a>
    </div>
  </div>
  <div id="inferior">
    <nav>
      <a routerLink="inicio">Inicio</a>
      <div class="menu-item">
        <a class="bordes" routerLink="productos">Productos</a>
        <div class="desplegable desPro">
          <a href="">Alimentos y Bebida</a>
          <a href="">Moda y Accesorios</a>
          <a href="">Juguetes y Juegos</a>
          <a href="">Libros y Papelería</a>
          <a href="">Salud y Belleza</a>
          <a href="">Tecnología y Electrónica</a>
          <a href="">Hogar y Decoración</a>
          <a href="">Deportes y Aire Libre</a>
          <a href="">Mascotas</a>
          <a href="">Artesanía y Manualidades</a>
        </div>
      </div>
      <div class="menu-item">
        <a class="bordes" routerLink="comercios">Comercios</a>
        <div class="desplegable desCom">
          <a href="">Empresa 1</a>
          <a href="">Empresa 2</a>
          <a href="">Empresa 3</a>
        </div>
      </div>
      <a class="bordes" routerLink="eventos">Eventos</a>
      <a class="bordes" routerLink="contacto">Contacto</a>
      <div class="search-bar">
        <input class="transparente" type="text" placeholder="Buscar..." />
        <button class="transparente">Buscar</button>
      </div>
    </nav>
  </div>
</div>
