<div id="cuadrados" class="crema">
  <!-- <a routerLink=""></a>
  <a routerLink=""></a>
  <a routerLink=""></a>
  <a routerLink=""></a>
  <a routerLink=""></a>
  <a routerLink=""></a>
  <a routerLink=""></a>
  <a routerLink=""></a> -->
  <div>
    <a routerLink="/ about">
      <img src="IMG/productos/aloeVera.png" alt="Crema de Aloe Vera" />
    </a>
  </div>
  <div>
    <a routerLink="">
      <img src="IMG/productos/camisa.png" alt="Camisa de seda" />
    </a>
  </div>
  <div>
    <a routerLink="">
      <img src="IMG/productos/tartaManzana.png" alt="Tarta de manzana" />
    </a>
  </div>
  <div>
    <a routerLink="">
      <img src="IMG/productos/libro.png" alt="Libro de Gerge Genke" />
    </a>
  </div>
  <div>
    <a routerLink="">
      <img src="IMG/productos/bolso.png" alt="Bolso de flores" />
    </a>
  </div>
  <div>
    <a routerLink="">
      <img
        src="IMG/productos/bloquesJuguete.png"
        alt="Casa hecha con bloques de madera"
      />
    </a>
  </div>
  <div>
    <a routerLink="">
      <img src="IMG/productos/croissant.png" alt="Croissant con café" />
    </a>
  </div>
  <div>
    <a routerLink="">
      <img src="IMG/productos/puzzle.png" alt="Puzzle de la naturaleza" />
    </a>
  </div>
</div>
