h4 {
  text-align: center;
  margin: 0px;
}

table {
  width: 100%;
  border-top: 3px solid lightgray;
  border-left: 3px solid lightgray;
  border-right: 3px solid gray;
  border-bottom: 3px solid gray;
  font-weight: bold;
}

.center {
  text-align: center;
}

.atras {
  text-align: end;
}

.abajo {
  vertical-align: bottom;
}

.rojo {
  color: red;
}

.cyanFondo {
  background-color: cyan;
}

.rosaFondo {
  background-color: pink;
}

.verdeFondo {
  background-color: lightgreen;
}
