table {
  text-align: center;
  width: 80%;
  /* background-image: url("../IMG/fondoHuellas.jpg");
  background-size: 30%; */
  border-top: 5px solid lightgray;
  border-left: 5px solid lightgray;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  color: brown;
}

#titulo {
  background-color: #669966;
}

#subtitulos {
  background-color: #ffcc99;
}

#tamanos {
  background-color: #ffff99;
}

tbody > tr {
  background-image: url("../IMG/fondoHuellas.jpg");
  background-size: 50%;
}
