<div id="header">
  <div id="logoEslogan">
    <a
      ><div class="imagenTexto">
        <img src="IMG/tienda.png" alt="Logo" height="50" />
        <h1>Tarra<span class="dorado">C</span>ommerce</h1>
      </div></a
    >
    <p class="dorado">Eslogan de la empresa</p>
  </div>
  <div id="derecha">
    <div id="superior">
      <a href=""
        ><div class="imagenTexto">
          <img src="IMG/libro.png" alt="Logo" height="25" />
          <p>Idioma</p>
        </div></a
      >
      <a href=""
        ><div class="imagenTexto">
          <img src="IMG/ajustes.png" alt="Logo" height="20" />
          <p>Gestionar usuario</p>
        </div></a
      >
      <a href=""
        ><div class="imagenTexto">
          <img src="IMG/carrito.png" alt="Logo" height="25" />
          <p>Comprar</p>
        </div></a
      >
    </div>
    <div id="inferior"></div>
  </div>
</div>
