<div id="header">
  <div id="empresa">
    <a routerLink="inicio"
      ><div class="imagenTexto">
        <img src="IMG/tienda.png" alt="Logo" height="40vh" />
        <h1>Tarra<span class="dorado">C</span>ommerce</h1>
      </div></a
    >
    <p class="dorado">
      <strong>SCM</strong> - Sustainable Collaborative Marketplace
    </p>
  </div>
  <div>
    <div id="superior">
      <div class="atras">
        <a href=""
          ><div class="imagenTexto">
            <img src="IMG/ajustes.png" alt="Logo" height="15vh" />
            <p class="dorado">Usuario</p>
          </div></a
        >
        <a href=""
          ><div class="imagenTexto">
            <img src="IMG/carrito.png" alt="Logo" height="20vh" />
            <p class="dorado">Comprar</p>
          </div></a
        >
      </div>
    </div>
    <div id="inferior">
      <div class="bordeD">
        <a routerLink="inicio">Inicio</a>
      </div>
      <div class="bordeD bordeI desplegable">
        <a routerLink="productos">Productos</a>
        <span class="elementos-desplegable-categorias">
          <div>
            <a [routerLink]="['/productosCat', 'cat01', 'Alimentos y Bebida']"
              >Alimentos y Bebida</a
            >
          </div>
          <div>
            <a [routerLink]="['/productosCat', 'cat02', 'Juguetes y Juegos']"
              >Juguetes y Juegos</a
            >
          </div>
          <div>
            <a [routerLink]="['/productosCat', 'cat03', 'Salud y Belleza']"
              >Salud y Belleza</a
            >
          </div>
          <div>
            <a [routerLink]="['/productosCat', 'cat04', 'Hogar y Decoración']"
              >Hogar y Decoración</a
            >
          </div>
          <div>
            <a [routerLink]="['/productosCat', 'cat05', 'Mascotas']"
              >Mascotas</a
            >
          </div>
          <div>
            <a [routerLink]="['/productosCat', 'cat06', 'Moda y Accesorios']"
              >Moda y Accesorios</a
            >
          </div>
          <div>
            <a [routerLink]="['/productosCat', 'cat07', 'Libros y Papelería']"
              >Libros y Papelería</a
            >
          </div>
          <div>
            <a
              [routerLink]="[
                '/productosCat',
                'cat08',
                'Tecnología y Electrónica'
              ]"
              >Tecnología y Electrónica</a
            >
          </div>
          <div>
            <a
              [routerLink]="['/productosCat', 'cat09', 'Deportes y Aire Libre']"
              >Deportes y Aire Libre</a
            >
          </div>
          <div>
            <a
              [routerLink]="[
                '/productosCat',
                'cat10',
                'Artesanía y Manualidades'
              ]"
              >Artesanía y Manualidades</a
            >
          </div>
        </span>
      </div>
      <div class="bordeD bordeI desplegable">
        <a routerLink="comercios">Comercios</a>
        <span class="elementos-desplegable-comercios">
          <div><a routerLink="comercios/">Empresa 1</a></div>
          <div><a routerLink="comercios/">Empresa 2</a></div>
          <div><a routerLink="comercios/">Empresa 3</a></div>
          <div><a routerLink="comercios/">Empresa 4</a></div>
          <div><a routerLink="comercios/">Empresa 5</a></div>
          <div><a routerLink="comercios/">Empresa 6</a></div>
        </span>
      </div>
      <div class="bordeD bordeI">
        <a routerLink="usuarios">Eventos</a>
      </div>
      <div class="bordeI">
        <a routerLink="about">Nosotros</a>
      </div>
      <div class="barraBusqueda">
        <input class="transparente" type="text" placeholder="Buscar..." />
        <button class="transparente">Buscar</button>
      </div>
    </div>
  </div>
</div>
